:root {
	--handle-size: 24px;
	--handle-spacing: calc(var(--handle-size) / 3);
	--animation: 200ms ease-in-out;
}

.icon {
	&::before,
	&::after {
		background: inherit;
	}
}

.handle {
	position: relative;
	display: none;
	width: var(--handle-size);
	height: var(--handle-size);
	z-index: 10;
	cursor: pointer;

	& .icon,
	& .icon::before,
	& .icon::after {
		position: absolute;
		display: block;
		content: "\0A";
		height: 2px;
		width: var(--handle-size);
		text-align: center;
		border-radius: 2px;
		transition: all var(--animation);
	}
	& .icon {
		margin-top: var(--handle-spacing);

		&::before { top: -var(--handle-spacing); }
		&::after {
			bottom: -var(--handle-spacing);
			width: calc(var(--handle-size) / 100 * 70);
		}
	}
}

.active .handle {
	& .icon { width: 0; }
	& .icon::before { transform: rotate(45deg); }
	& .icon::after { transform: rotate(-45deg); }
	& .icon::before,
	& .icon::after {
		top: 0;
		width: var(--handle-size);
	}
}

.links {
	& ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	& li {
		display: inline-block;
		white-space: nowrap;
		margin: 0 5px;
	}
}

@media (max-width: 550px) {
	.handle {
		display: block;
	}
	.links {
		position: fixed;
		display: flex;
		width: 0;
		height: 100%;
		top: 0;
		right: 0;
		justify-content: center;
		align-items: center;
		background: var(--color-primary);
		transition: all var(--animation);

		& ul {
			display: none;
		}
		& li {
			display: block;
			margin: 20px 0;
			text-align: center;
			font-size: 1.4em;
		}
	}
	.active {
		& .links {
			width: 90%;

			& ul {
				display: block;
			}
		}
	}
}
