@import "styles/app.css";
@import "styles/colors.css";
@import "styles/layout.css";

html,
body {
	height: 100%;
}

html,
body,
:global(#app),
.Shell {
	width: 100%;
	min-height: 100%;
	min-width: var(--minWidth);
	margin: 0;
	padding: 0;
}

:global(#app) {
	display: flex;
}

.Shell {
	display: flex;
	flex-direction: column;
	background: var(--backgroundColor);
	color: var(--textColor);
}

.header,
.footer {
	flex: 0;
}

.content {
	flex: 1;
	width: 100%;
	margin: 0 auto;
	padding: 1em 2em;
	max-width: var(--maxWidth);
	box-sizing: border-box;
}
