{
	"presets": [
		"es2015",
		"stage-1",
		"react"
	],
	"env": {
		"production": {
			"plugins": [
				"transform-react-remove-prop-types",
				"transform-react-constant-elements",
				"transform-react-inline-elements"
			]
		},
		"development": {
			"plugins": [
				"react-hot-loader/babel"
			]
		}
	}
}
