{
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"extends": "airbnb",
	"plugins": [ "react" ],
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"indent": [ "error", "tab", { "SwitchCase": 1 } ],
		"react/jsx-indent": [ "error", "tab" ],
		"react/jsx-indent-props": "off",
		"react/jsx-closing-bracket-location": "off",
		"react/jsx-first-prop-new-line": [ "warn", "never" ],
		"react/require-default-props": "off",
		"react/forbid-prop-types": "off",
		"comma-dangle": [ "error", "never" ],
		"quotes": [ "error", "double", { "avoidEscape": true } ],
		"array-bracket-spacing": [ "error", "always" ],
		"semi": [ "error", "never" ],
		"arrow-parens": [ "error", "as-needed" ],
		"consistent-return": [ "warn", { "treatUndefinedAsUnspecified": true } ],
		"import/no-extraneous-dependencies": [ "error", { "devDependencies": true } ],
		"keyword-spacing": [
			"error",
			{
				"before": true,
				"after": true,
				"overrides": {
					"if": { "after": false },
					"for": { "after": false },
					"while": { "after": false },
					"catch": { "after": false },
					"switch": { "after": false }
				}
			}
		],
		"no-tabs": "off",
		"new-parens": "off",
		"no-plusplus": "off",
		"class-methods-use-this": "off",
		"global-require": "warn"
	}
}
