.feed {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	margin: -1em 0 0 -1em;
}

.post {
	flex: 1;
	padding: 1em 0 0 1em;
	box-sizing: border-box;
}

/* Two Columns */
@media (min-width: 500px) {
	.feed {
		flex-direction: row;
	}
	.post {
		flex: 0 0 50%;
	}
}

/* Three Columns */
@media (min-width: 700px) {
	.post {
		flex: 0 0 33.333%;
	}
}
