@import "../../css/colors.css";

.Header {
	padding: 10px 20px;
	background: var(--primaryColor);
	color: var(--primaryTextColor);
}

.brand {
	font-size: 1.4em;
	white-space: nowrap;
	float: left;
}

.nav {
	float: right;
}
