@import "../../css/colors.css";

.Header {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	background: var(--primaryColor);
	color: var(--primaryTextColor);
}

.brand {
	font-size: 1.4em;
	white-space: nowrap;
}
