@import "../../css/colors.css";

:root {
	--spinnerSize: 60px;
	--dotSize: calc(var(--spinnerSize) / 3 - 10);
	--duration: 1.5s;
}

.Spinner {
	width: var(--spinnerSize);
	margin: 50px auto;
	display: flex;
	justify-content: space-between;

	& span {
		display: inline-block;
		width: var(--dotSize);
		height: var(--dotSize);
		background-color: var(--primaryColor);
		border-radius: 50%;
		animation: loading var(--duration) infinite ease-in-out both;

		&:nth-child(1) {
			animation-delay: -calc(var(--duration) / 100 * 30);
		}
		&:nth-child(2) {
			animation-delay: -calc(var(--duration) / 100 * 50);
		}
	}
}

@keyframes loading {
	0%,
	80%,
	100% {
		transform: scale(0);
	}
	40% {
		transform: scale(1);
	}
}
