@import "../../css/colors.css";
@import "../../css/layout.css";

.Footer {
	padding: 10px 20px;
	background: var(--primaryColor);
	color: var(--primaryTextColor);
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: var(--maxWidth);
}
