@import "../../css/global.css";
@import "../../css/colors.css";
@import "../../css/layout.css";

html,
body,
:global(#app),
.App {
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: var(--minWidth);
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	flex-direction: column;
	background: var(--backgroundColor);
	color: var(--textColor);
}

.content {
	flex: 1;
	width: 100%;
	margin: 0 auto;
	padding: 5px 20px;
	max-width: var(--maxWidth);
	box-sizing: border-box;
}
