@import "../../css/global.css";
@import "../../css/layout.css";

html,
body,
:global(#app),
.App {
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: var(--minWidth);
	margin: 0;
	padding: 0;
}

.App {
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1;
	width: 100%;
	margin: 0 auto;
	max-width: var(--maxWidth);

	& section {
		margin: 5px 20px;
	}
}
